<h1>Homepage</h1>
<% cart.each do |item| %>
    <%= item %>
<% end %>
<br><br>
<%= form_tag({controller: "products", action: "add"}, method: "post") do %>
    <label>Product:</label><br>
    <%= text_field_tag :'product' %><br><br>
    <%= submit_tag "add to cart" %>
<% end %>

  